body{
    display: flex;
    justify-content: center;
    align-items: center;
}



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mostrar-senha{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.continue{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
