@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
body{
    background-image: url(../img/pexels-markus-spiske-360591.jpg);
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
}

main{
    background-color: rgba(0, 0, 0, 0.6);
    width: 350px;
    height: 100%;
    position: absolute;
    right: 0;
}


.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 2.5rem;
    border: solid white 2px;
    font-size: 2.5rem;
}

main h1{
    color: white;
    margin-bottom: 3rem;
    font-size: 1.7rem;
    font-weight: 500;
    text-shadow: rgba(255, 255, 255, 0.2) 2px 2px;
}

.campos-input{
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.campos-input:focus{
    box-shadow: 0;
    outline: 0;
    color: white;
}


.underline{
    border-bottom: rgba(255, 255, 255, 0.8) 1px solid;
    margin-bottom: 1rem;
}

.btn{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    border: black 1px solid;;
    font-weight: 700;
    font-size: 1rem;
    background-color: #ffffff;
    transition: .5s;
}

.btn:hover{
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    background-color: #45b3fc;
}

.rodape-form{
    width: 200px;
    height: 50px;
}

.criar-conta{
    margin-bottom: .4rem;
    font-weight: 500;
    color: white;
}

.inscrever{
    color: #45b3fc;
    text-decoration: none;
    transition: .5s;
}

.inscrever:hover{
    cursor: pointer;
    text-decoration:underline;
    letter-spacing: 1px;

}


@media screen and (min-width:330px) {
    
    main{
        background-color: rgba(0, 0, 0, 0.95);
    }
}


@media screen and (min-width:590px) {
    
    main{
       background-color: rgba(0, 0, 0, 0.6);;
    }
}

.corDoAviso{
    color: #d81a1a;
    text-decoration: underline;
    margin-bottom: .5rem;
    text-align: center;
}