@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body{
    background: #00003b;
    font-family: 'Inter', sans-serif;
}

main{
    background-color: white;
    width: 350px;
    height: 40vh;
}

.campos-input{

    margin-bottom: 1.3rem;
}













/* celular */
@media screen and (min-width:320px) {

    main{
        background-color: white;
        width: 250px;
        height: 40vh;
    }
     
 }
 
 /* tablet */
 @media screen and (min-width:480px) { 
 
     body{
         background-color: yellowgreen;
     }
     
 }
 
 /* desktop */
 @media screen and (min-width:1024px) { 
 
     body{
         background-color: purple;
     }
     
 }
 